{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->

	<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">فراموشی رمز عبور</h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="آدرس ایمیل" name="email">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right">رمز عبورتان را به یاد دارید؟ ورود</a>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> ارسال  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">حساب کاربری ندارید؟ <a href="{% url 'register' %}">ثبت نام</a> کنید</p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
{% endblock %}
