{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="otp">کد را وارد کنید:</label>
                    <input type="text" class="form-control" id="otp" name="otp">
                </div>
                <button type="submit" class="btn btn-primary">تأیید</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
