{% extends 'base.html' %}


{% block content %}

<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    <article class="card-body">
  
      <header class="mb-4 text-right"><h4 class="card-title">ثبت نام</h4></header>
      <form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
  
  
              <div class="form-row">
                  <div class="col form-group text-right">
                      <label for="id_first_name">نام....</label>
                        {{ form.first_name }}
                  </div> <!-- form-group end.// -->
                  <div class="col form-group text-right">
                      <label for="id_last_name">نام خانوادگی</label>
                        {{ form.last_name }}
                  </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->
  
  
              <div class="form-row">
                  <div class="form-group col-md-6 text-right">
                    <label for="id_email">پست الکترونیکی</label>
                    {{form.email}}
                  </div> <!-- form-group end.// -->
                  <div class="form-group col-md-6 text-right">
                    <label for="id_phone_number">شماره تلفن</label>
                    {{form.phone_number}}
                  </div> <!-- form-group end.// -->
              </div> <!-- form-row.// -->
              <div class="form-row">
                  <div class="form-group col-md-6 text-right">
                      <label for="id_password">رمز</label>
                      {{ form.password }}
                  </div> <!-- form-group end.// -->
                  <div class="form-group col-md-6 text-right">
                      <label for="id_confirm_password">تکرار رمز</label>
                       {{form.confirm_password}}
                  </div> <!-- form-group end.// -->
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">ثبت نام</button>
              </div> <!-- form-group// -->
    {{ form.email.errors }}
    {{ form.non_field_errors }}
          </form>
      </article><!-- card-body.// -->
  </div> <!-- card .// -->
  <p class="text-center mt-4">حساب کاربری دارید؟ <a href="{% url 'login' %}">ورود</a></p>
  <br><br>
  
</section>
{% endblock %}