<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item active" href="#"> پروفایل </a>
        <a class="list-group-item" href="#"> سفارش ها </a>
        <a class="list-group-item" href="#"> تغییر پروفایل</a>
        <a class="list-group-item" href="#">تغییر رمز</a>

    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">خروج</span> </a>
    <!--   SIDEBAR .//END   -->
</aside>