<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2023|Maktab </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">miladhatami_ut@yahoo.com | </span>
				<span  class="px-2">+989128282360 | </span>
				<span  class="px-2">Maktab Sharif</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fas fa-lg fa-credit-card"></i>
				
			</div>
			<div class="col-md-2 text-md-left text-muted">
				<img src="https://www.banimode.com//themes/new/assets/images/footer/logo-itehad@2x.png" alt="اتحادیه کسب و کارهای مجازی">
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->